@model Administrator;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Property Rental Management</h1>
    <br><br>
        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Index</title>
        </head>
        <body>

            <h3>Login As Admin</h3>
            @ViewBag.error
            <form method="post" asp-controller="Administrators" asp-action="Welcome">
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="AdminUsername"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="AdminPassword"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Login" class="btn btn-danger"></td>
                </tr>
            </form><br><br>
            <form method="post" asp-controller="Home" asp-action="loginAsManager">
                <input type="submit" value="loginAsManager" class="btn btn-danger">
            </form><br><br>
            <form method="post" asp-controller="Home" asp-action="loginAsTenant">
                <input type="submit" value="loginAsTenant" class="btn btn-danger">
            </form>

        </body>
        </html>
    <br><br>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
