@model PropertyRentalManagementWebSite.Models.Apartment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutForManager.cshtml";
}

<h1>Edit</h1>

<h4>Apartment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditForManager">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApartmentId" />
            <div class="form-group">
                <label asp-for="ApartmentType" class="control-label"></label>
                <input asp-for="ApartmentType" class="form-control" />
                <span asp-validation-for="ApartmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentPrice" class="control-label"></label>
                <input asp-for="ApartmentPrice" class="form-control" />
                <span asp-validation-for="ApartmentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentAddress" class="control-label"></label>
                <input asp-for="ApartmentAddress" class="form-control" />
                <span asp-validation-for="ApartmentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexForManager">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
